* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-fon-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
color: #EBF1FB;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-image: url("./assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
font-family: 'Spectral', serif;

}


.landpage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.links {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-top: 72px;

}




span {
  color: #5EEAD4;
}

h1 {
  font-family: 'Beth Ellen', cursive;
  font-weight: 400;
  font-size: 64px;
line-height: 120px;
  text-align: center;
}


p {
  margin-top: 4px;
  font-weight: 500;
  font-size: 20px;
}

a {
  padding: 12px 32px;

  font-weight: 600;
  font-size: 24px;
  

}

button {
border-radius: 8px;
  padding: 12px 0;
  border: 0;
  background: #5EEAD4;
}

button a {

  font-family: 'Spectral', serif;


  text-decoration: none;
  color: #0B0C0E;
}

button:hover {
  background: #57aba0;
}



.links > a:hover {
  color:#57aba0;
}